mat-toolbar {
  height: 80px;
  margin-bottom: 20px;
}

.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.border-link {
  border-right: 2px solid white;
}

a {
  text-decoration: none;
}

.logo {
  color: aliceblue;
  font-size: 2rem;
}
