<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div *ngFor="let game of games">
            <div class="card m-1" style="width: 15rem;" (click)="selectGame(game)" gameBorderCard>
                <div class="card-header text-center">
                    {{ game.title | uppercase }}
                </div>
                <img src="{{ game.cover }}" alt="{{ game.title }}" />
                <div class="card-body text-center">
                    <p>{{ game.resume }}</p>
                </div>
                <div class="card-header text-center">
                   
                    <span id="genre" *ngFor="let genre of game.genre" class="mt-2 pt-1 {{ genre.name | genreColor }}">{{ genre.name }}</span>
                    <br>
                    <span *ngFor="let plateform of game.plateform" class="mt-2 pt-1 {{ plateform.console | plateformColor }}">{{ plateform.console }}</span>
                    <p class="card-text ">
                        Ajouté le : {{ game.date | date: "dd/MM/yyyy " }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

