img {
    height: 130px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

p {
    font-size: 12px;
}

h3 {
    color: black;
}

span {
    margin-left: 5px;
}

#genre {
    font-size: 10px;
}