<div class="container">
  <div class="row d-flex justify-content-center mt-3">
    <div *ngFor="let game of games">
      <div class="card m-1" style="width: 15rem;" (click)="selectGame(game)" gameBorderCard>
        <div class="card-header text-center">
          {{game.title | uppercase}}
        </div>
        <img src="{{game.cover}}" alt="{{game.title}}">
        <div class="card-body text-center">
                    <span class="badge badge-danger mb-3">{{game.genre.name}}</span>
          <p class="card-text">Ajouté le : {{game.date | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<p>game-list works!</p>
<div class="container">
    <div *ngFor="let game of games">
      <div class="card m-1" style="width: 18rem;">
<img class="card-img-top" src="{{game.cover}}" alt="{{game.name}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{game.name}}</h5>
          <span class="badge badge-danger mb-3">{{game.genre.genre}}</span>
          <p class="card-text">Ajouté le : {{game.date | date: 'dd/MM/yyyy'}}</p>
        </div>
    </div>
  </div>
</div>
 -->
