<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">S'enregistrer</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="uname1">Nom d'utilisateur</label>
              <input type="text" [(ngModel)]="registerUserData.username" name="username" class="form-control rounded-0"
                required>
            </div>
            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password1" [(ngModel)]="registerUserData.password1" name="password1"
                class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label>Confirmation du mot de passe</label>
              <input type="password2" [(ngModel)]="registerUserData.password2" name="password2"
                class="form-control rounded-0" required>
            </div>
            <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>